*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  /* font family */
  --ff-primary: 'Source Sans Pro', 'sans-serif';

  /* font weight */
  --fw-reg: 400;
  --fw-bold: 900;

  /* colors */
  --clr-light: #f9f9f9;
  --clr-dark: #303030;
  --clr-accent: #16e0bd;
  --clr-hover: #747bff;
 
  /* font sizes */
  --fs-h1: 3rem;
  --fs-h2: 2.25rem;
  --fs-body: 1rem;
}

@media (min-width: 800px) {
  :root {
     --fs-h1: 4.5rem;
     --fs-h2: 3.75rem;
     --fs-body: 1.25rem;
  }
}

/* General Styles */

body {
  background: var(--clr-accent);
  color: var(--clr-dark);
  margin: 0;
  line-height: 1.6;
  font-family: var(--ff-primary);
  font-size: var(--fs-body);
}

h1 {
  margin: 3rem 1rem;
  font-weight: var(--fw-reg);
  font-size: var(--fs-h1);
  line-height: 1;
}

:focus {
  outline: 3px solid var(--clr-hover);
  outline-offset: 3px;
}

/* containers */

.nav__container {
  position: fixed;
  top: 0;
  bottom: 0;
  background: var(--clr-dark);
  left: -14rem;
  width: 14 rem;
}

.main__container {
  padding-top: 3rem;
  padding-left: 2.5rem;
  max-width: 42rem;
}

.nav-is-open .nav__container,
.nav-is-open .main__container {
  transform: translateX(14rem);
}

/* menu button */

.btn {
  padding: .85em;
  background: var(--clr-dark);
  color: var(--clr-accent);
  font-size: var(--fs-body);
  margin-left: 1rem;
  letter-spacing: 2px;
  cursor: pointer;
  transition: transform 200ms ease-in-out;
}

button:hover {
  transform: scale(1.1);
  background: var(--clr-accent);
  color: var(--clr-dark);
}

/* navigation */

.nav {
  margin-top: 6rem;
}

.nav a {
  display: block;
  margin: 0;
  padding: .75rem 3rem;
  text-decoration: none;
  font-weight: var(--fw-reg);
  color: var(--clr-light);
}

.nav a:hover {
  background: #101b13;
}

.nav a:focus,
.nav a:active {
  color: #eaf0f3;
}


